<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;">
        <title>login</title>
        <link rel="stylesheet" type="text/css" href="__STATIC__/admin/login/css/style.css">
        <script type="text/javascript" src="__STATIC__/common/js/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="__STATIC__/admin/login/js/phone.js"></script>
        <script type="text/javascript" src="__STATIC__/admin/login/js/login.js"></script>
    </head>
<body>
<div class="whole">
	<div class="title">Welcome to Locaticus</div>
    <div class="coordinates-icon">
    	<div class="coordinates topAct">
        	<img src="__STATIC__/admin/login/images/coordinates.png">
        </div>
        <div class="circle-1-1 circle-show-2"></div>
        <div class="circle-2-2 circle-show-1"></div>
        <div class="circle-3-3 circle-show"></div>
    </div>
    <div class="login-form">
    	<form action="#">
        	<div class="user-name common-div">
            	<span class="eamil-icon common-icon">
                	<img src="./login_files/eamil.png">
                </span>
                <input type="email" name="username" value="" placeholder="E-mail address">
            </div>
            <div class="user-pasw common-div">
            	<span class="pasw-icon common-icon">
                	<img src="./login_files/password.png">
                </span>
                <input type="password" name="password" value="" placeholder="******">
            </div>
            <div class="login-btn common-div">Sign in</div>
        </form>
    </div>
    <div class="forgets">
    	<a href="#">Forget password?</a>
        <a href="#">New here?Sign up</a>
    </div>
</div>
</body>
</html>
