<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>小程序吉他谱交流</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src='http://res.wx.qq.com/open/js/jweixin-1.2.0.js' type='text/javascript'></script>
    <style>
      *{
        margin: 0;
        padding: 0;
      }
      html,body{
        height: 100%;
        overflow: hidden;
        background: #000;
      }

    </style>
</head>
<body>
<canvas id="canvas"></canvas>

<script>

  var canvas = {

    _can: document.getElementById("canvas"),

    init: function(){

      this.options = {
        ctx          : this._can.getContext('2d'),
        width        : document.body.offsetWidth,
        height       : document.body.offsetHeight,
        arcArray     : [],
        begin        : 0,
        length       : 500
      }
      canvas.Scale  = window.devicePixelRatio;
      this._can.style.width = this.options.width + "px";
      this._can.style.height = this.options.height + "px";
      this._can.width = this.options.width * canvas.Scale;
      this._can.height = this.options.height * canvas.Scale;
      this.drawFrame();

    },

    buildArc: function(){
      var _self = this;

      var options = {
        opacity: Math.random().toFixed(1),
        r: parseInt(20*Math.random()) * canvas.Scale,
        X: Math.floor(Math.random() * _self.options.width) * canvas.Scale,
        Y: Math.floor(Math.random() * _self.options.height) * canvas.Scale,
        R: Math.floor(Math.random() * 256) * canvas.Scale,
        G: Math.floor(Math.random() * 256) * canvas.Scale,
        B: Math.floor(Math.random() * 256) * canvas.Scale,
        Yx: -0.5 * canvas.Scale,
        Yy: -0.5 * canvas.Scale
      }
      if( options.X < _self._can.width/2 ){
        options.Yx = 0.5;
      }
      if( options.Y > _self._can.height/2 ){
        options.Yy = 0.5;
      }
      _self.options.arcArray.push(options);
      if(_self.options.arcArray.length > 300){
        _self.options.arcArray.shift();
      }
      for(var i = 0; i < _self.options.arcArray.length; i++ ){
        _self.options.arcArray[i].r += 0.5 * canvas.Scale;
        _self.options.arcArray[i].opacity -= 0.003 * canvas.Scale;
        _self.options.arcArray[i].X += _self.options.arcArray[i].Yx * canvas.Scale;
        _self.options.arcArray[i].Y -=_self.options.arcArray[i].Yy * canvas.Scale;
        // _self.options.arcArray[i].X += (Math.random());
        // _self.options.arcArray[i].Y += (Math.random());
        _self.options.ctx.beginPath();
        _self.options.ctx.arc(_self.options.arcArray[i].X, _self.options.arcArray[i].Y, _self.options.arcArray[i].r, 0, Math.PI*2, true);
        _self.options.ctx.fillStyle = "rgba(" + _self.options.arcArray[i].R + "," + _self.options.arcArray[i].G + "," + _self.options.arcArray[i].B + "," + _self.options.arcArray[i].opacity + ")";
        _self.options.ctx.fill();
      }


    },

    drawFrame:function(){
      canvas.options.ctx.clearRect(0, 0, canvas.options.width * canvas.Scale, canvas.options.height * canvas.Scale);
      window.requestAnimationFrame(canvas.drawFrame);
      canvas.buildArc();

    }
  }
  window.onload =function(){
    canvas.init();
  }

</script>
<script type="text/javascript">

var _url = location.href.split('#')[0];

wx.config({
    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '{$selectStatus.appId}', // 必填，公众号的唯一标识
    timestamp: '{$selectStatus.nonceStr}', // 必填，生成签名的时间戳
    nonceStr: '{$selectStatus.timestamp}', // 必填，生成签名的随机串
    signature: '{$selectStatus.signature}',// 必填，签名，见附录1
    jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});

wx.ready(function(res){

    //获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
    wx.onMenuShareTimeline({
        title: '第七届世界智慧教育高峰论坛&OKAY e学本发布会视频', // 分享标题
        link: _url,
        imgUrl: 'http://jzapp.okjiaoyu.cn/pubobservatory/sharepage/img/share-bg_8f2962d1.jpg', // 分享图标
        success: function () {
        },
        cancel: function () {
        }
    });

    //获取“分享给朋友”按钮点击状态及自定义分享内容接口
    wx.onMenuShareAppMessage({
        title: '第七届世界智慧教育高峰论坛&OKAY e学本发布会视频', // 分享标题
        desc: '第七届世界智慧教育高峰论坛&OKAY e学本发布会视频', // 分享描述
        link: _url,
        imgUrl: 'http://jzapp.okjiaoyu.cn/pubobservatory/sharepage/img/share-bg_8f2962d1.jpg', // 分享图标
        type: '', // 分享类型,music、video或link，不填默认为link
        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        success: function () {
        },
        cancel: function () {
        }
    });

    //获取“分享到QQ”按钮点击状态及自定义分享内容接口
    wx.onMenuShareQQ({
        title: '第七届世界智慧教育高峰论坛&OKAY e学本发布会视频', // 分享标题
        desc: '第七届世界智慧教育高峰论坛&OKAY e学本发布会视频', // 分享描述
        link: _url, // 分享链接
        imgUrl: 'http://jzapp.okjiaoyu.cn/pubobservatory/sharepage/img/share-bg_8f2962d1.jpg', // 分享图标
        success: function () {
        },
        cancel: function () {
        }
    });

    //获取“分享到腾讯微博”按钮点击状态及自定义分享内容接口
    wx.onMenuShareWeibo({
        title: '第七届世界智慧教育高峰论坛&OKAY e学本发布会视频', // 分享标题
        desc: '第七届世界智慧教育高峰论坛&OKAY e学本发布会视频', // 分享描述
        link: _url, // 分享链接
        imgUrl: 'http://jzapp.okjiaoyu.cn/pubobservatory/sharepage/img/share-bg_8f2962d1.jpg', // 分享图标
        success: function () {
        },
        cancel: function () {
        }
    });

    //获取“分享到QQ空间”按钮点击状态及自定义分享内容接口
    wx.onMenuShareQZone({
        title: '第七届世界智慧教育高峰论坛&OKAY e学本发布会视频', // 分享标题
        desc: '第七届世界智慧教育高峰论坛&OKAY e学本发布会视频', // 分享描述
        link: _url, // 分享链接
        imgUrl: 'http://jzapp.okjiaoyu.cn/pubobservatory/sharepage/img/share-bg_8f2962d1.jpg', // 分享图标
        success: function () {
        },
        cancel: function () {
        }
    });
})

</script>
</body>

</html>
